<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Home </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="login-form mt-10">
    <form action="/result" method="post">
        <h2 class="text-center">Get your Result Here...!! </h2> 
        <!-- Search form -->
<div class="md-form m-5">
    <input class="form-control  mt-5" type="text" placeholder="Enter your code"  name="code">
    
  </div>
  <div class="md-form mt-5 ">
    <button type="submit" class="btn btn-primary btn-block w-30 text-center">search </button>
</div>
    </form>
</div>
    </body>